/* .results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}
.content {
  padding: var(--content-padding);
}

input[type="text"] {
  border: solid 1px var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}

button {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
    width: 70%;
  }
}

@media (max-width: 499px) {
  .results {
    grid-template-columns: 1fr;
  }
} */


.home-Input{
  min-height: 3em;
  width: 100vw;

  padding: 1em;
}

form{
  display: flex;
  justify-content: start;
  align-items: center;
}

.input-Text {
  height: 2em;
  width: 30em;

  margin: .5em;
  padding: .3em;

  border: 0em;
  border-bottom: .1em solid black;
}

.input-Button{
  height: 2.8em;
  min-width: 3em;
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: .5em;
  border: 0em;
  padding: 1em;
  &:hover{
    border: .1em solid #38838d31;
    background-color: #52ebff;
  }
  &:active{
    transform: translateY(.1em);
    box-shadow: inset 0em 0em .2em .1em grey;
  }
}

.home-Body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}