/* .results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}
.content {
  padding: var(--content-padding);
}

input[type="text"] {
  border: solid 1px var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}

button {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
} */

@media (min-width: 500px) and (max-width: 768px) {
  .app-home{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}

@media (max-width: 499px) {
  .app-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}

.app-home{
  min-height: 80vh;
  height: auto;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background:url(../../assets/Screen-R&M.png) no-repeat center;
  position: relative;
  overflow: hidden;
}

.app-home::before,
.app-home::after{
  content: '';
  position: absolute;

  top: 0;
  width: 6vw;
  height:100%;
  background-color: rgba(128, 128, 128, 0.226);
  z-index: 1;
}

.app-home::before{
  left: 0
}

.app-home::after{
  right: 0;
}

.home-Input {
  min-height: 3em;
  width: 100vw;

  position: relative;

  padding: 1em;
}

img {
  height: 20em;
  width: auto;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-Text {
  height: 2em;
  width: 30em;

  margin: 0.5em;
  padding: 0.3em;

  background: rgba(255, 255, 255, 0.185);

  border: none;
  outline: none;
  border-bottom: 0.1em solid black;
}

.input-Button {
  height: 2.8em;
  min-width: 3em;
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.5em;
  border: .1em solid rgba(128, 128, 128, 0.301);
  padding: 1em;
  background-color: #b7f7ff;
  &:hover {
    border: 0.1em solid #38838d31;
    background-color: #72efff;
  }
  &:active {
    transform: translateY(0.1em);
    box-shadow: inset 0em 0em 0.5em 0.1em grey;
  }
}

.home-Body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
